* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.new {
  display: flex;
  align-items: center;
  background: rgba(176, 224, 230, 0.5);
  border-radius: 20px;
  box-shadow: 0px 5px 38px 22px rgba(34, 60, 80, 0.31) inset;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  margin-top: 3rem;
  position: absolute;
  padding: 1rem;
  width: 80vw;
}

.photo {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: -100;
}

.button {
  position: absolute;
  margin-top: 66vh;
}

.btn {
  background-color: #9e331d;
  border-radius: 25px;
  box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  padding: 1.2rem;
}

.btn:hover {
  cursor: pointer;
  background-color: #61876E;
  color: black;
}